<% provide(:title, "New Comments") %>

<div class = "commentHeading">
<h1> New Comments</h1>
<hr>
</div>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Commenttime</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.commentTime %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>


<div class = "commentSection">
<% @comments.each do |comment| %>
<p style = "color:grey;">By <%= comment.belongs %> made <%= time_ago_in_words(comment.created_at) %> ago | On: <%= comment.post.title  %> </p>
<p style = "font-size:17px;"> <%= comment.content %></p>


<%# can be deleted later....... %>
<% if false %>
<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% end %>

</div>
<div class = "link_to_next">
  <p><%= link_to "More Comments", comments_path(page: @page + 1) %></p>
</div>
