<% provide(:title, "Submit a news") %>

<h1>Submit a news</h1>
<hr>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @post do |f| %>
    
    <%if @post.errors.any? %>
      <h3 style = "color:red;">Errors</h3>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li style = "color:red;"><%=msg%></li>
      <% end %>
    </ul>	
   <% end %>
		
	  <%= f.label :"News to submit (required)" %>
      <%= f.text_area :title, size: "24x6" %>
     
      <%= f.label:"news' source (optional)" %>
	  <%= f.text_field :source, type: "url" %>
      
	  <br><br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
